{
  "extends": [
    "plugin:markdown/recommended-legacy",
    "plugin:@typescript-eslint/recommended",
    "plugin:markdown/recommended",
    "standard-with-typescript",
    "prettier"
  ],
  "plugins": ["markdown", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "extraFileExtensions": [".mjs", ".md"]
  }
}
